<!DOCTYPE html>
<html lang="pt-br">
<head>
   {% include "site/includes/head.njk" %}
</head>
<body>

   <div id="app-icclesia">
      {% block content %}{% endblock %}
   </div>

   <!-- SCRIPTS -->
   {% include "site/includes/scripts.njk" %}

   <!-- JS -->
   {% block js %}{% endblock %}
</body>
</html>
