
{% extends "site/layouts/master.njk" %}

{% set htitle = "Icclesia | Rede social para católicos" %}
{% set meta_title = "Icclesia | Rede social para católicos" %}
{% set meta_description = "Icclesia é a rede social para católicos" %}

{% block content %}

<div class="home-wrapper">   

    <main class="content">       
        <homepage-navigation logo="/images/logo-maria-prod-white.png"></homepage-navigation>

        <div class="box-content">
            <div class="text text-center">
                <h1 class="title">Icclesia</h1>
                <p class="description">Una-se ao corpo místico de cristo na web</p> 
            </div>
        </div>
    </main>

    <div id="home-slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img" src="/images/home/virgem-maria-1.jpg" alt="Virgem Maria 1">
            </div>
            <div class="carousel-item">
                <img class="img" src="/images/home/virgem-maria-2.jpg" alt="Virgem Maria 2">
            </div>
            <div class="carousel-item">
                <img class="img" src="/images/home/virgem-maria-3.jpg" alt="Virgem Maria 3">
            </div>
            <div class="carousel-item">
                <img class="img" src="/images/home/virgem-maria-4.jpg" alt="Virgem Maria 4">
            </div>
            <div class="carousel-item">
                <img class="img" src="/images/home/virgem-maria-5.jpg" alt="Virgem Maria 5">
            </div>
        </div>
    </div>

     <!-- MODAIS -->
    <home-login-modal></home-login-modal>    
    <home-register-modal></home-register-modal>   
</div>
{% endblock %}