
{% extends "site/layouts/master.njk" %}

{% set htitle = "Icclesia | Rede social para católicos" %}
{% set meta_title = "Icclesia | Rede social para católicos" %}
{% set meta_description = "Icclesia é a rede social para católicos" %}

{% block content %}

<h1> teste </h1>

{% endblock %}