.home-wrapper{
    display: flex;
    flex-wrap: wrap;
    background: $white;

    & > .content{
        flex-grow: 1;
    }

    .box-content{
        padding: 15px;
    }
    
}

#home-slider{
    width: 40%;
    position: relative;    

    .carousel{
        &-item .img{
            width: 100%;
            display: block;
            height: 100vh;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
            @extend .simple-scale;
        }
    }

    &:before{
        content: '';
        display: block;
        background: rgba($color-1, 0.7);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        left: 0;   
    }
    &:after{
        content: 'ICCLESIA';
        color: $white;
        display: inline-block;
        font-weight: 700;
        @include absolute-center();
        z-index: 3;
        font-size: 4em;
        text-shadow: 1px 1px 6px #222;
        font-family: $font-three;
    }
}

#home-menu{   
    box-shadow: 0 5px 30px 8px rgba(0, 0, 0, 0.1);

    .navbar{
        &-brand img{
            width: 50px;            
        }

        &-nav{
            justify-content: flex-end;
            width: 100%;

            .nav-item{
                &:not(:last-child){
                    margin-right: 5px;
                }
            }
            .nav-link{
                text-transform: uppercase;
                color: $white;
                font-family: $font-three;
                font-weight: 300;
                border-radius: 5px;
                background: lighten($color-1, 10%);
                border-bottom: 4px solid $color-1;
                border-right: 4px solid $color-1;
                padding: 0.5rem 1rem 0.4rem 1rem;
                font-size: 14px;
                transition: 0.3s;

                &:hover{
                    background: $color-1;           
                }
            }
        }        
    }
}